
*{
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
}

button{
  background: none;
  border: none;
  margin: 2vh;
  color: white;
  font-weight: 800;
  font-size: 15px;
}

.homeBar{
  width: 100vw;
  height: 10vh;
  background-color: rgb(35, 147, 252);
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 50px;
  
}

.homeBarHome{
  font-weight: 900;
}

#cardName{
  text-decoration: underline;
  text-decoration-color: rgb(5, 153, 202);
}

.dashboardRaper{
  background-color: black;
  padding: 10vh;
  
}

.userCards{
  padding: 10vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.userCardButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#infoTags{
  font-weight: 700;
}


